@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>A 3D Buildings Web Viewer built on ThreeJS(WebGL) , XBIM and IFC for The BIM Industry as an open source contribution for BuildingSmart</p>  
<Text>All Rights Reserved to Ahmed Mohamed Ahmed Hussein Abdelhak</Text>
